<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let res of restaurantData">
      <ion-label>
        <h2>{{res.name}}</h2>
        <h3>{{res.address}}</h3>
        <h3>{{res.phoneNumber}}</h3>
      </ion-label>
      <ion-button color="clear" (click)="addRestaurant(res)">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
