<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="restaurant">

  <h2>{{ restaurant.name }}</h2>
  <h3>{{ restaurant.address }}</h3>
  <h3>{{ restaurant.phoneNumber }}</h3>
  <app-show-rating [rating]="restaurant.rating"></app-show-rating>
  <h3>{{ restaurant.description }}</h3>
  <large *ngFor="let tag of restaurant.tags">#{{tag}}&nbsp;</large>

  <h1>
    <ion-button color="clear">
      <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button color="clear">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button color="clear">
      <ion-icon name="mail-sharp" slot="icon-only"></ion-icon>
    </ion-button>
  </h1>
</ion-content>
