<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="restaurant">

  <img src={{restaurant.imgLink}} style="width:300px;height:300px"/>
  <h2>{{ restaurant.name }}</h2>
  <h3>{{ restaurant.address }}</h3>

  <rating></rating>
  <h3>{{ restaurant.description }}</h3>
  <ion-label>Description</ion-label>
  <ion-textarea [(ngModel)]="description" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  <ion-button (click)="addRestaurant(restaurant, description, 0)" [routerLink]="['../']">Save</ion-button>
</ion-content>
